[submodule ".vim/pack/vendor/start/catppuccin"]
	path = .vim/pack/vendor/start/catppuccin
	url = https://github.com/catppuccin/vim.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
